.popup {
  visibility: hidden;
  opacity: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  box-sizing: border-box;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
